body{
    background-color: #ebebeb;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
#eclipse1{
    position: absolute;
    margin-top: 0px;
    width: 50%;
    height: 100%;
}
#eclipse2{
    position: absolute;
    margin-top: 12.5%;
    margin-left: 19%;
    width: 50%;
}
#heart{
    position: absolute;
    margin: 9% 13%;
    width: 31%;
    height: 63%;
    z-index: 1;
    transform: scale(1);
    animation: pulse 2.5s linear infinite;
}
#circle1{
    position: absolute;
    margin: 13.5% 16.5%;
    width: 24%;

}
#circle2{
    position: absolute;
    margin: 11% 14%;
    width: 29%;
}
.heart::after {
    /* background:blue; */
    background: inherit;
    border-radius: 50%;
    /* To make circle */
    content: '';
    position: absolute;
    /* top: -100px;*/
    top: -50%;
    /* Inherit properties of parent */
    /* left: -100px; */
    left: 0;
    height: 100px;
    width: 100px;
    transform: scale(1);
  }
  
.heart::before {
  
    background: inherit;
    border-radius: 50%;
    /* To make circle */
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    /* Inherit properties of parent */
    height: 100px;
    width: 100px;
    transform: scale(1);
  }
  
  @keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
  
    50% {
        transform: scale(0.9);
        opacity: 1;
    }
  
    100% {
        transform: scale(1);
        opacity: 1;
    }
  }
  
#login{
    position: absolute;
    margin-top: 8%;
    margin-left: 60%;
    width: 30%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 15px ;
    margin-bottom: 0px;
    padding: 0px;
}
#firstaid{
    position: absolute;
    z-index: 1;
    width: 13%;
    height: 25%;
    margin: 18% 35%;
}
#defibrillator{
    position: absolute;
    z-index: 1;
    width: 8%;
    height: 19%;
    margin: 31% 15%;
}
#MedicalRecord{
    position: absolute;
    z-index: 1;
    width: 6.98%;
    margin: 12.2% 13%;
}
#image{
    padding: 0px;
    margin: 0px;
}
#wel{
    margin-left: 8%;
    margin-top: 10%;
}
#signin{
    margin-left: 8%;
    margin-top: 1%;
    font-weight: 800;
    font-size: 160%;
}
.email{
    margin-left: 8%;
    font-weight: 500;
    font-size: 80%;
    margin-top: 5%;
    height: 8%;
    width: 100%;
}
.password{
    margin-left: 8%;
    font-weight: 500;
    font-size: 80%;
    margin-top: 10%;
    height: 8%;
    width: 100%;
}
#email{
    width: 80%;
    height:  100%;
    border-radius: 10px ;
    border: #bdbdbd 3px solid;
}
#password{
    width: 80%;
    height:  100%;
    border-radius: 10px ;
    border: #bdbdbd 3px solid;
}
#button{
    width: 82%;
    border-radius: 10px;
    background-color: #006bff;
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    height: 10%;
    border: black;
    font-weight:900;
    text-align: center;
    margin-top: 16%;
    margin-left: 8% ;
}
#sign{
    
    text-decoration: none;
    color: #006bff;
    font-weight: 600
    ;

}
#signup{
    margin-top: 13%;
    margin-left: 23%;
    font-weight: 500;
    font-size: 87%;
}